:root{
    --main-color:orange;
    --background-color: rgb(46, 43, 43);
}

*{
    margin: 0;
    padding: 0;
    margin-block: 0;
}
body{
    /* background: url(img/back.jpeg);
    background-size: cover; */
    background-color: var(--background-color);
}

hr{
    margin:1rem 0;
    transition: all .3s ease-in-out;
}
.navigation ul li a{
    position: relative;
    color: white;
    text-decoration: none;
    padding: 2px;
    transition: all .3s ease-in-out;
}
.navigation ul{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    top: 0;
    padding:2px 0;
    margin: 0;

}
.navigation:hover hr{
    border-color: black;
}
.navigation{
    /* visibility: hidden; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background:transparent;
    z-index: 10;
    transition: all .3s ease-in-out;
}
.navigation:hover{
    background-color: white;
}
.navigation:hover ul li a{
    color: black;
}

.navigation hr{
    border-color: white;
}

.navigation ul li a::before{
    content: "";
    height: 2px;
    background-color: black;
    position: absolute;
    width: 100%;
    bottom: 0;
    transform: scaleX(0);
    transition: all .2s ease-in-out;
}
.navigation ul li a:hover::before{
    transform: scaleX(1);
}

.photo-container{
    height: 300px;
    width: 300px;
    position: relative;
    display: flex;
    top: 10%;
    transform: rotate(45deg);
    overflow: hidden;
    box-shadow: 0 0 10px 10px rgb(33, 169, 223);
    transition: all .3s;
}
.premiere-div{
    display: flex;
    margin-top: 50px;
    width: 100%;
    height: 600px;
    justify-content: space-around;
}
.photo-container::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: aqua;
    opacity: 0;
    transform: scale(0);
    transition: all .3s;
}
.photo-container:hover::before{
    transform: scale(1);
    opacity: 1;
}
.photo-container:hover{
    box-shadow: 0 0 10px 20px rgb(33, 169, 223);

}
.maphoto:hover{
}
.maphoto{
    height:120%;
    width: 120%;
    position: absolute;
    top: -0px;
    right: -20px;
    left: -20px;
    transform: rotate(-45deg);
    animation: survol-photo 3s infinite linear;
}
.hidden {
    opacity: 0;
    transform: translateX(200vw);
    transition: all 1s ease-in-out;
  }
  
  .visible {
    transform: translateX(0);
    opacity: 1;
  }

.cont-section{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
}
.element-section{
    display: flex;
    width: 100%;
    justify-content: center;
}

.element-link{
    height: 150px;
    width: 600px;
    overflow: hidden;
    border-radius: 20px;
    background-color: white;
    display: flex;
}
.element-link{
    position: relative;
    transition: all .3s;
}
.element-link::before{
    content:"";
    position: absolute;
    width: 0%;
    background-color: black;
    height: 100%;
    z-index: 0;
    opacity: 0;
    transition: all .3s ease-in-out;
    border-radius: 20px;
}
.element-link:hover::before{
    opacity: 1;
    width: 100%;
}
.element-link:hover {
    color: white;
}
.element-link:hover .element-image{
    filter: grayscale(0) contrast(1.2);
}
.element-image-cont{
    width:  150px;
    height: 150px;
    z-index: 0;
}
.element-txt{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 0;
}
.element-section a{
    justify-self: center;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 0;
}
.element-title{
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    align-items: center;
}
.element-title img{
    height: 70%;
}

.element-description{
    display: flex;
    justify-content: center;
    text-transform: none;
    text-align: center;
    align-items: center;
}
.mes-infos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: azure;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.element-image{
    height: 100%;
    filter: grayscale(1);
    width: 100%;
    object-fit: cover;
}

@keyframes survol-photo{
    0%{
    transform: rotate(-45deg) translate(0,0);
        
    }
    50%{
    transform: rotate(-45deg) translate(0, -20px) ;

    }
    100%{
        transform: rotate(-45deg) translate(0,0);
    }
}